/**
 * @name BackgroundImage
 * @description Display the image in the background.
 * @version 1.0.0
 * @source https://raw.githubusercontent.com/FireXX242/BetterDiscord-Theme/main/BackgroundImage.theme.css
 * @invite gvNZzBxshm
 */

:root {
  --background-image: url("https://saenai-movie.com/shared/img/character/c03_main.png");
  --opacity: 0.95;
}

:root {
  background: var(--background-image) center/cover no-repeat;
  opacity: var(--opacity);
}
