/**
 * @name IconChanger
 * @description Change all icons.
 * @version 1.0.4
 * @source https://raw.githubusercontent.com/FireXX242/BetterDiscord-Theme/main/IconChanger.theme.css
 * @invite gvNZzBxshm
 */

.wrapper-3kah-n,
.avatarStack-3vfSFa,
.contents-2MsGLg > img,
.repliedMessage-3Z6XBG > img,
.avatar-2slV0S{
  content: url("https://saenai-movie.com/shared/img/character/c03_main.png");
}

.icon-1zKOXL,
.avatarContainer-3FF_Km,
.avatarUploaderInner-yEhTv5,
.wrapper-3kah-n > .acronym-2zrAHN {
  background-image: url("https://saenai-movie.com/shared/img/character/c03_main.png") !important;
  background-size: cover;
  color: transparent;
}